/*   Homepage   */
#main-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #691df5;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #030101;
}